<template>
  <div>
    <input type="text" v-model="text" />
    <button @click="addItem">Add</button>
  </div>
</template>

<script>
export default {
  data: () => ({
    text: "",
  }),
  methods: {
    addItem: function () {
      this.$emit("submit", this.text);
      this.text = "";
    },
  },
};
</script>

<style></style>
