<template>
  <div class="item">
    <input type="checkbox" @click="$emit('check')" :disabled="value.done" />
    <span>{{ value.text }}</span>
  </div>
</template>

<script>
export default {
  props: {
    value: Object,
  },
  data: function () {
    return {};
  },
  computed: {},
};
</script>

<style></style>
