<template>
  <div>
    <item
      v-for="(item, index) in items"
      @check="onCheck(item, index)"
      :key="index"
      :value="item"
    ></item>
  </div>
</template>

<script>
import Item from "./Item.vue";
export default {
  components: {
    Item,
  },
  props: {
    items: Array,
  },
  methods: {
    onCheck: function (item, index) {
      item.done = true;
      this.$emit("check", index);
    },
  },
};
</script>

<style></style>
