<template>
  <div id="app">
    <h1>Ajouter un élement</h1>
    <div class="item-form">
      <item-form @submit="addItem"></item-form>
    </div>
    <h1>TODO</h1>
    <div class="todo-list">
      <list :items="todo" @check="moveItem"></list>
    </div>
    <h1>DONE</h1>
    <div class="done-list">
      <list :items="done" @check="moveItem"></list>
    </div>
  </div>
</template>

<script>
import List from "./components/List.vue";
import ItemForm from "./components/form/ItemForm.vue";
export default {
  name: "App",
  components: {
    List,
    ItemForm,
  },
  data: () => ({
    todo: [{ text: "자바스크립트 공부하기", done: false }],
    done: [],
  }),
  computed: {},
  methods: {
    moveItem: function (index) {
      console.log(item);
      const item = this.todo.splice(index, 1)[0];
      this.done.push(item);
    },
    addItem: function (text) {
      this.todo.push({ text, done: false });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
